name: Go Lint

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: true
          cache-dependency-path: go.sum

      - name: Download dependencies
        run: go mod download

      # - name: Check go mod tidy
      #  run: |
      #    go mod tidy
      #    git diff --exit-code go.mod go.sum

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout=30m
          version: v2.10.1

      - name: Run govulncheck
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck ./...
